---
nav: true;
layout: layouts/base.njk
---
<div class="container kc-blog">

  <header role="banner" class="kc-blog__header">
    <h1 itemprop="name">{{ title }}</h1>
    <date>{{ date | readableDate }}</date>
  </header>

  <main class="kc-blog__body">
    {{ layoutContent | safe }}
  </main>

  {% if canonical %}
  <small class="kc-blog__canonical">This post originally appeared at:<br /><a href="{{ canonical }}">{{ canonical }}</a></small>
  {% endif %}

  <a class="kc-blog__back" href="/blog">Back to all posts</a>

</div>
